#root {
  padding: 1rem;
}

@media only screen and (min-width: 700px) {
  #root {
    padding: 2rem;
    text-align: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.starter--container {
  text-align: center;
}

h1 {
  margin-top: 0;
}

.yellowblob,
.blueblob {
  position: absolute;
  height: 15%;
  z-index: -1;
}

@media only screen and (min-width: 700px) {
  .yellowblob,
  .blueblob {
    height: 30%;
  } 
}

.yellowblob {
  top: 0;
  right: 0;
}

.blueblob {
  bottom: 0;
  left: 0;
}

.category--container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

button {
  background-color: #4D5B9E;
}

button.disabled {
  background-color: #8693d4;
  color: rgb(108, 121, 186);
  opacity: .7;
  cursor: auto;
}

.change-cat--button {
  background-color: #DEEBF8;
  border: 1px solid #4D5B9E;
  color: #293264;
  margin-left: 1rem;
}

.category--name {
  text-align: left;
  padding-left: 1rem;
  font-weight: lighter;
}

.category--name span {
  font-weight: bold;
}

.quiz--container {
  width: 100%;
  margin: 0 2rem 2rem
}

.question--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  padding: 1rem;

  border-bottom: 2px solid #b0b3c8;
}

.question {
  text-align: left;
  font-weight: 700;
  margin-bottom: 0;
}

.choices--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  
  width: 100%;
  margin: 1rem auto;
}

@media only screen and (min-width: 700px) {
  .choices--container {
    flex-direction: row;
  }
}

.choice--container {
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background: #D6DBF5;
  border-color: #D6DBF5;
}

label.active.checked.true {
  background: #94D7A2 !important;
	border: none !important
}

label.active.checked.false {
  background: #F8BCBC !important;
	border: none !important;
  opacity: 0.5 !important;
}

.choiceLabel {
  padding: 10px;
  min-width: 3rem;
  
  border: 1.5px solid #4D5B9E;
  border-radius: 7px;
  
  font-size: 1.2rem;
  font-weight: 500;

  cursor: pointer;
}

form[data-right=true] {
  background: #94D7A2;
  border-color: transparent
}

form[data-right=false] {
  background: #F8BCBC;
  border-color: transparent;
  opacity: 0.5
}

.button {
  margin-top: 1rem
}

.alert {
  margin-top: 2rem
}

.modal {
  width: 70%;
  height: 30%;
  background-color: #D6DBF5;
  border-color: #D6DBF5;
  border-radius: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}


@media only screen and (min-width: 700px) {
  .modal {
    width: 25%;
    height: 25%;
  }
}


.modal.incomplete {
  background-color: #F8BCBC;
}

.modal p {
  margin: 0;
}

.modal .trophy {
  font-size: 3rem;
}